@import "normalize";
@import "html5bp";

/* ==========================================================================
   Mobile First Styles
   ========================================================================== */
*{ box-sizing: border-box; }

body{
  font-size: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url(../img/topper.png) -85% top repeat-x, url(../img/cross_scratches.png) -55% top repeat;
}

.container{
	margin: 0 auto;
	max-width: 1140px;
}

h2{
  padding-bottom: .1875em;
  margin: 10% 3% 0;
  border-bottom: 2px solid #00a2e0;
  text-align: center;
  color: #666;
  font-size: 1.5625em;
  line-height: 1;
}

.link_wrapper{
	float: left;
	width: 100%;
}

ul, li{
  margin: 0;
  padding: 0;    
}

li{
  list-style-type: none;
  font-size: 1em;
}

li a{
  display: block;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  color: #888;
  background: rgba(255,255,255, .25);
  padding: 4%;
  text-align: center;
  margin: 0 3%;
}

@media only screen and (min-width: 768px) {
	h2{
	  font-size: 1.25em;
	  text-align: left;
	  width: 15%;
	  float: left;
	  margin-top: 0%;
	}

	.link_wrapper{ margin-bottom: 50px; }

	ul{
  	width: 79%;
  	float: left;
	}

	li a{
	  width: 48%;
	  margin: 0 2% 1% 0;
	  padding: 2%;
	  float: left;

		&:hover{
		  color: #00a2e0;
		  background: rgba(255, 255, 255, .5);
		  -moz-transition: all .25s;
		  -webkit-transition: all .25s;
		  transition: all .25s;
		}

		&:active, &.active{
		  color: #fff;
		  background: #00a2e0;
		}
	}

		@font-face {
		font-family: 'pd';
		src:url('https://dl.dropbox.com/u/272916/codepen/iconFont/pd.eot');
		src:url('https://dl.dropbox.com/u/272916/codepen/iconFont/pd.eot?#iefix') format('embedded-opentype'),
			url('https://dl.dropbox.com/u/272916/codepen/iconFont/pd.woff') format('woff'),
			url('https://dl.dropbox.com/u/272916/codepen/iconFont/pd.ttf') format('truetype'),
			url('https://dl.dropbox.com/u/272916/codepen/iconFont/pd.svg#pd') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	[data-icon]:before {
		font-family: 'pd';
		content: attr(data-icon);
		speak: none;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}

	.logo{
	  width: 7em;
	  height: 8em;
	  margin: 0 auto 5%;
	  cursor: pointer;
	  position: relative;
	  background: url(../img/logo_bed.png) 50% 0 no-repeat;
	  
	  .ring, .inner{
	    position: absolute;
	    font-size: 5em;
	    color: #00a2e0;
	    display: inline-block;
	    line-height: 0;
	    top: 10px;
	    left: 16px;
	    
	    /* Hardware acceleration FTW! */
	    -webkit-transform: translateZ(0);
	    -moz-transform: translateZ(0);
	  }
	}

	@-webkit-keyframes spin{
	  from{
	    -webkit-transform: rotate(0deg);
	  }to{
	    -webkit-transform: rotate(10deg);
	  }
	}

	@-webkit-keyframes spinrev{
	  from{
	    -webkit-transform: rotate(0deg);
	  }to{
	    -webkit-transform: rotate(-10deg);
	  }
	}


	@keyframes spin{
	  from{
	    -moz-transform: rotate(0deg);
	  }to{
	    -moz-transform: rotate(10deg);
	  }
	}

	@keyframes spinrev{
	  from{
	    -moz-transform: rotate(0deg);
	  }to{
	    -moz-transform: rotate(-10deg);
	  }
	}

	.logo:hover{
	  .ring{
	    -webkit-animation: spin 1s ease;
	    -moz-animation: spin 1s ease;
	    -webkit-animation-fill-mode: forwards;
	    animation-fill-mode: forwards;
	  }

	  .inner{
	    -webkit-animation: spinrev 1s ease;
	    -moz-animation: spinrev 1s ease;
	    -webkit-animation-fill-mode: forwards;
	    animation-fill-mode: forwards;
	  }
	}
}

@media only screen and (min-width: 1600px){
	.container{ max-width: 1600px; }

	li a{ width: 31%; }
}

@import "helpers";
@import "print";